---
import "../css/bar.css";
---

<div>
    <ul>
        <li>
            <a href="/">Mi dia</a>
            <a href="importante">Importante</a>
            <a href="/">Tareas</a>
        </li>
    </ul>
</div>