.contenedor-div{
    display: flex;
    padding-top: 13px;
    align-items: center;
    align-content: center;
}

.contenedor-titulo{
    color: white;
    font-size: 40px;
}

.contenedor-input{
    padding: 10px 20px 10px 20px;
    margin-left: 500px;
    background-color: rgb(56, 50, 50);
    color: white;
}