

.contenedorLista-input{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contenedorLista-input input{
    padding: 20px;
    border-radius: 5px;
    border-color: rgb(185, 173, 173);
    background-color: transparent;
    font-size: 15px;
    color: white;
}

.contenedorLista-input-div button{
    margin-left: 900px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border-color: rgb(185, 173, 173);
}

.contenedorLista-lista{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    /*Agregar scroll*/
    width: 900px;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.contenedorLista-lista-li button{
    background-color: transparent;
    color: white;
    padding: 10px;
}