---
import "../css/layout.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="contenedor">
			<header class="contenedor-header">header</header>
			<div class="contenedor-bar">sidebar</div>
			<main class="contenedor-main">
				<slot/>
				main
			</main>
		</div>
	</body>
</html>

